node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml


logs/
*.log
*.log.*


.env
.env.local
.env.development
.env.test
.env.production


.cache/
dist/
build/
coverage/
.tmp/
.vscode/
.idea/


*.sqlite
*.sqlite3
*.db
*.mysql
*.pgsql


.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo


/coverage
/jest-cache
/jest-coverage


docker-compose.override.yml
node_modules/
